@use '../../styles/mixin' as *;

.reason {
  position: relative;
  padding: 100px 0 95px;

  > .inner {
    @include inner;
  }

  .title {
    font-size: 42px;
    text-align: center;
    letter-spacing: 0.16px;

    > .small {
      font-size: 30px;
    }

    > .orange {
      font-size: 54px;
      line-height: 1.7;
      color: #e26803;
      letter-spacing: 0.08em;
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 70px 0;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .counter {
        position: relative;
        width: 56px;
        height: 56px;
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
        background-color: #e26803;
        border-radius: 50%;

        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .illust {
        position: relative;
        width: 216px;
        height: 361px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .text {
        padding-top: 42px;
        font-size: 22px;
        line-height: 1.8;
        text-align: center;
      }
    }
  }

  .subttl {
    position: absolute;
    top: 50px;
    left: 40px;

    &::before {
      position: absolute;
      top: 106.5px;
      left: 50%;
      width: 1.5px;
      height: 257px;
      content: '';
      background-color: #e26803;
    }
  }
}
