@use '../../styles/mixin' as *;

.example {
  position: relative;
  padding: 120px 0;
  background-color: #f4f2e4;

  @include sp {
    padding: 40px 0;
  }

  > .inner {
    @include inner;
  }

  .title {
    font-size: 32px;
    font-weight: 700;
    color: #e26803;
    text-align: center;
    letter-spacing: 0.05em;

    @include sp {
      font-size: 16px;
    }
  }

  .text {
    padding-top: 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.45;
    text-align: center;
    letter-spacing: 0.05em;

    @include sp {
      padding-top: 12px;
      font-size: 11px;
    }
  }

  .listWrap {
    width: calc(100% + 40px);
    overflow: scroll;

    @include sp {
      width: calc(100% + 25px);
    }
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 1240px;
    padding: 70px 40px 0 0;
    margin-bottom: 30px;

    @include sp {
      gap: 15px;
      width: calc(659.5px + 25px);
      padding: 21px 25px 0 0;
      margin-inline: auto;
      margin-bottom: 15px;
    }
  }

  .btnWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

    @include sp {
      margin-top: 15px;
    }

    .cmt {
      position: relative;
      padding: 0 10px;
      font-size: 22px;
      font-weight: 700;
      line-height: 1.18;
      letter-spacing: 0.08em;

      @include sp {
        font-size: 15px;
        text-align: center;
      }

      &::before {
        position: absolute;
        top: -2px;
        right: 0;
        width: 3px;
        height: 30px;
        content: '';
        background-color: #e26803;
        transform: rotate(25deg);

        @include sp {
          top: 9px;
          right: -12px;
          width: 1.5px;
          height: 55px;
          transform: rotate(28deg);
        }
      }

      &::after {
        position: absolute;
        bottom: -2px;
        left: -26px;
        width: 3px;
        height: 30px;
        content: '';
        background-color: #e26803;
        transform: rotate(-25deg);

        @include sp {
          top: 9px;
          bottom: auto;
          left: -14px;
          width: 1.5px;
          height: 55px;
          transform: rotate(-28deg);
        }
      }
    }

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 800px;
      height: 120px;
      margin-top: 32px;
      font-size: 40.53px;
      font-weight: 500;
      color: #fff;
      letter-spacing: 0.2em;
      background-color: #e26803;
      border-radius: 60px;
      transition: all 0.3s ease;

      @include sp {
        max-width: 554px;
        height: 60px;
        margin-top: 25px;
        font-size: 20.27px;
        border-radius: 30px;
      }

      @include pc {
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
