@use '../../styles/mixin' as *;

.structure {
  position: relative;
  padding: 56px 0 62px;
  background-color: #ede8cc;

  > .inner {
    @include inner;

    > .title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 509px;
      height: 48px;
      margin-inline: auto;
      font-size: 20px;
      color: #fff;
      letter-spacing: 0.05em;
      background-color: #e26803;
      border-radius: 40px;
    }

    > .text {
      padding-top: 40px;
      font-size: 22px;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0.05em;

      > .caption {
        font-size: 42.64px;
        color: #e26803;
        letter-spacing: 0.08em;
      }
    }

    > .content {
      max-width: 1020px;
      margin-inline: auto;
      margin-top: 40px;

      > .graph {
        position: relative;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }

      > .note {
        padding-top: 23px;
        font-size: 16px;
        line-height: 2;
      }
    }
  }
}
