@use './styles/mixin' as *;
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&Roboto:wght@700&display=swap';

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  color: #151515;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  // font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.pc-none {
  display: none;

  @include sp {
    display: block;
  }
}

.sp-none {
  display: block;

  @include sp {
    display: none;
  }
}

.u-accordion {
  &.u_1 {
    .u-graph {
      max-width: 963px;
      aspect-ratio: 953 / 446;
    }
  }

  &.u_2 {
    .u-graph {
      max-width: 669px;
      aspect-ratio: 669 / 452;
    }
  }

  &.u_3 {
    .u-graph {
      max-width: 830px;
      aspect-ratio: 830 / 722;
    }
  }

  .small {
    font-size: 36px;

    @include sp {
      font-size: 17px;
    }
  }

  .asterisk {
    display: inline-block;
    font-size: 17px;
    vertical-align: text-top;
    translate: 4px 9px;

    @include sp {
      font-size: 9.5px;
      translate: 4px 6px;
    }
  }
}

.ReactModal {
  &__Overlay {
    z-index: 1000;
    background-color: rgba(#151515, 0.6) !important;
  }

  &__Content {
    inset: 81px 0 !important;
    display: flex;
    flex-direction: column;

    // align-items: center;
    justify-content: center;
    padding: 0 25px !important;
    overflow: inherit !important;
    background-color: #f4f2e4 !important;
    border: none !important;
    border-radius: 0 !important;
  }
}

.ReactModalPortal {
  .closeBtn {
    position: absolute;
    top: -30px;
    right: 10px;
    display: block;
    width: 23px;
    height: 23px;

    &::before {
      position: absolute;
      width: 23px;
      height: 1.5px;
      content: '';
      background-color: #fff;
      rotate: 45deg;
    }

    &::after {
      position: absolute;
      width: 23px;
      height: 1.5px;
      content: '';
      background-color: #fff;
      rotate: -45deg;
    }
  }

  .graph-inner {
    position: relative;
    width: calc(100% + 50px);
    padding: 0 25px 15px;
    margin-left: -25px;
    overflow: scroll;
    text-align: center;

    img {
      width: 510px;
      height: auto;
    }
  }
}
