@use '../../styles/mixin' as *;

.features {
  position: relative;
  padding: 120px 0 200px;
  background-color: #a89779;

  @include sp {
    padding: 47.5px 0 40px;
  }

  > .inner {
    @include inner;
  }

  .title {
    position: relative;
    width: fit-content;
    margin-inline: auto;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: 0.1em;

    @include sp {
      font-size: 15.5px;
      letter-spacing: 0.05em;
    }

    .large {
      display: inline-block;
      padding-top: 20px;
      font-size: 42px;
      line-height: 1.33;
      letter-spacing: 0.1em;

      @include sp {
        padding-top: 10px;
        font-size: 21px;
      }
    }

    .small {
      margin-left: -15px;
      font-size: 32px;

      @include sp {
        margin-left: -9px;
        font-size: 16px;
      }
    }

    .bar {
      position: relative;
      display: block;
      width: 100%;
      margin-top: 24px;

      @include sp {
        width: 284px;
        margin-top: 6px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 97px;
    margin-top: 150px;

    @include sp {
      gap: 35px;
      margin-top: 35px;
    }
  }

  .subttl {
    position: absolute;
    top: 50px;
    left: 40px;

    @include sp {
      top: 23px;
      left: 10px;
      display: flex;
      align-items: center;
      width: 17px;
      height: 47px;

      svg {
        width: 100%;
      }
    }

    &::before {
      position: absolute;
      top: 131.5px;
      left: 50%;
      width: 1.5px;
      height: 257px;
      content: '';
      background-color: #fff;

      @include sp {
        top: 62.5px;
        height: 40px;
      }
    }
  }
}
