@use '../../styles/mixin' as *;

.company {
  padding: 220px 0 120px;

  @include sp {
    padding: 135px 0 60px;
  }

  > .inner {
    @include inner;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e26803;

    .ja {
      font-size: 42px;
      letter-spacing: 0.15em;

      @include sp {
        font-size: 21px;
      }
    }

    .en {
      padding-top: 14px;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.24;
      letter-spacing: 0.15em;

      @include sp {
        padding-top: 7px;
        font-size: 10px;
      }
    }
  }

  .table {
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    margin-top: 80px;

    @include sp {
      margin-top: 30px;
    }

    tr {
      th,
      td {
        padding-bottom: 42px;

        @include sp {
          padding-bottom: 16px;
        }
      }

      th {
        align-items: bottom;
        width: 200px;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.05em;
        vertical-align: middle;

        @include sp {
          width: 112px;
          padding-left: 22px;
          font-size: 11px;
        }
      }

      td {
        padding-left: 24px;
        font-size: 18px;
        line-height: 1.8;
        letter-spacing: 0.05em;

        @include sp {
          padding-left: 20px;
          font-size: 11px;
        }
      }

      &:not(:first-child) {
        border-top: 1px solid #dedede;

        th,
        td {
          padding-top: 42px;

          @include sp {
            padding-top: 16px;
          }
        }
      }

      &:last-child {
        border-bottom: 1px solid #dedede;
      }
    }
  }
}
